

#main-section {
    margin-left: 0;
    margin-right: 0;
}


h2,
h3 {
    text-align: center !important;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0 !important;
}

h4 {
    font-size: 30px !important;
    font-weight: bold;
    text-decoration: underline;
}

table {
    width: 100% !important;
    table-layout: fixed; 
    border-radius: 0 !important;
    border: 1px solid var(--border-color) !important;
    margin-top: 2% !important;
    padding: 0 !important;
}

td, th {
    overflow: auto; 
    font-size: 1vw; 
    border: 1px solid var(--border-color) !important;
}

th {
    font-size: 14px !important;
}

tr[value="ok"] {
    background-color: rgb(190, 190, 190);
}

td {
    padding: 2px !important;
    font-size: 12px !important;
}

.td2 {
    width: 7.5% !important;
}

#tab-section {
    overflow-x: auto;
}

@media screen and (max-width: 1000px) {
    th {
        font-size: 12px !important;
    }
    
    td {
        padding: 2px !important;
        font-size: 10px !important;
    }
}

#anneeSelector {
    border: none;
    padding: 10px;
    width: 25%;
    text-align: center;
}

#load-button, #anneeSelector {
    height: 75px !important;
}

#load-button {
    border: none;
    width: 15%;
    padding: 10px;
    background-color: var(--blue3);
}

#load-button:hover {
    background-color: var(--blue3-hover);
}

.div4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading {
    width: 10% !important;
    margin-left: 45% !important;
    margin-right: 45% !important;
    padding-bottom: 2% !important;
}
