

#main-section {
    margin-left: 0;
    margin-right: 0;
}


h2,
h3 {
    text-align: center !important;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0 !important;
}

h4 {
    font-size: 30px !important;
    font-weight: bold;
    text-decoration: underline;
}

tr[value="Arques"] {
    background-color: rgb(190, 190, 190);
}

.th2 {
    width: 9% !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.td2 {
    font-size: 16px !important;
    padding: 2px !important;
    height: 40px !important;
}

.table2 {
    border-radius: 0 !important;
    border: 1px solid var(--border-color) !important;
    width: 100% !important;
    margin-top: 2% !important;
    padding: 0 !important;
}

.td2,
.th2 {
    border: 1px solid var(--border-color) !important;
}

.time_td {
    border-bottom: none !important;
}

.rank_td {
    border-top: none !important;
}

td:first-child, th:first-child {
    border-left: 1px solid var(--border-color) !important;
}

td:last-child, th:last-child {
    border-right: 1px solid var(--border-color) !important;
}

.button2,
#pdfInput::-webkit-file-upload-button {
    font-size: 18px !important;
    background-color: var(--blue3);
    color: white;
    border: none;
}

.button2:hover,
#pdfInput::-webkit-file-upload-button:hover {
    background-color: var(--blue3-hover);
}

#pdfInput::-webkit-file-upload-button {
    margin-right: 3%;
}

.div-buttons {
    display: flex;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.div-buttons > button , .div-buttons > input {
    height: 40px !important;
    margin-top: 0 !important;
    width: 49% !important;
    text-align: center;
    border: none !important;
}

.div-buttons > input {
    margin-right: 1% !important;
}

p {
    text-align: justify;
}

#code_departement {
    width: 20% !important;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 2%;
    padding: 1%;
    border: none;
    text-align: center;
}

.selected1 {
    background-color: yellow !important;
    color: black !important;
  }

  .selected2 {
    background-color: rgb(225, 154, 0) !important;
    color: black !important;
  }
  
#import-data-table{
    padding-bottom: 0;
}