
#main-section {
    margin-left: 0;
    margin-right: 0;
}


h2 {
    text-align: center !important;
    margin-top: 0;
    padding-top: 0;
}

.buttons2, #pdfInput::-webkit-file-upload-button {
    font-size: 18px !important;
    background-color: var(--blue3);
    color: white;
    border: none;
}

button:hover, #pdfInput::-webkit-file-upload-button:hover {
    background-color: var(--blue3-hover);
}

#pdfInput::-webkit-file-upload-button {
    margin-right: 3%;
}


#add-perf-table, #modif-perf-table {
    width: 100%;
}

#competition-data-table {
    width: 50%;
}

.div-buttons {
    width: 40%;
    margin: 0 auto;
}

.div-buttons > button, .td-nom-prenom > input {
    width: 49%;
    padding: 1%;
}

input, select, button {
    width: 100%;
    font-size: 15px !important;
    height: 100%;
}

.temps {
    width: 25%;
}

th, .perf-ligne > td, #modif-perf-table > tbody > tr > th, #modif-perf-table > tbody > tr > td {
    font-size: 15px !important;
    padding: 5px;
    width: 11% !important;
}

td {
    height: 30px !important;
}


.td-nom-prenom {
    width: 19% !important;
}

.td-suppr, .td-id {
    width: 3% !important;
}

.td-modif {
    width: 4% !important;
}


#add-perfs, .modif-perf, .edit-button {
    background-color: var(--green);
    border: none;
}

#add-perfs:hover, .modif-perf:hover, .edit-button:hover {
    background-color: var(--green-hover);
}

.suppr-ligne {
    background-color: var(--red);
    border: none;
}

.suppr-ligne[value="1"] {
    background-color: var(--red2);
}

.suppr-ligne:hover {
    background-color: var(--red-hover);
}

.suppr-ligne[value="1"]:hover {
    background-color: var(--red2-hover);
}

.buttons3 {
    width: 50%;
}


.tr-Femme {
    background-color: var(--femme);
}

.tr-Homme {
    background-color: var(--homme);
}

.separation-type-competition {
    background-color: var(--blue6);
}

.font-color-red {
    background-color: var(--red);
    color: white;
}

#idx-section>tbody>tr>td{
    font-size: 14px !important;
    padding: 2px !important;
}

#idx-section{
    width: 100%;
}

#gauche, #droite{
    width: 50%;
}

.input-number{
    width: 100%;
    height: 30px;
}