.button2,
#photo::-webkit-file-upload-button {
    font-size: 18px !important;
    background-color: var(--blue3);
    color: white;
    border: none;
}

.button2:hover,
#photo::-webkit-file-upload-button:hover {
    background-color: var(--blue3-hover);
}

#photo::-webkit-file-upload-button {
    margin-right: 3%;
}

h2 {
    text-align: center;
}

#liste-albums,
#photos > div {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

#liste-albums > div,
#photos > div > div {
    box-sizing: border-box;
    padding: 2% 2% 0 2% !important;
    margin-bottom: 2%;
}

#liste-albums > div {
    flex: 0 0 30%;
}

#photos > div > div {
    flex: 0 0 20%;
    width: 20% !important;
    height: 200px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#liste-albums > div > img,
#photos > div > div > img {
    background-color: black;
    max-width: 90%;
    display: block;
    object-fit: contain;
    margin: auto !important;
}

#liste-albums > div > img {
    margin-bottom: 5% !important;
    max-height: 128px !important;
}

#photos > div > div > img {
    max-height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.album_name {
    padding-top: 1%;
    font-size: 20px !important;
    width: 80% !important;
    text-align: center;
    border: none;
}

.album_name:hover {
    background-color: rgb(221, 221, 221);
}

.album-div > img:hover {
    cursor: pointer;
}

.album-div:hover {
    background-color: rgba(100, 102, 110, 0.753);
}

.title-section {
    display: flex;
}

.valider {
    background-color: var(--green);
    border: none;
    width: 20%;
    text-align: center;
    font-size: 18px !important;
}

.valider:hover {
    background-color: var(--green-hover);
}

.supprimer {
    background-color: var(--red);
    border: none;
    width: 100%;
    margin-bottom: 10%;
}

.supprimer:hover {
    background-color: var(--red-hover);
}

#transfert {
    font-size: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 2% !important;
    text-align: center !important;
}

#import-data-table {
    margin-bottom: 0 !important;
}

input {
    font-size: 15px !important;
}

label {
    font-size: 18px !important;
    margin-right: 5px !important;
}

#quality {
    width: 50px !important;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    background-color: #fff;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--blue3);
}
