
#main-section {
  margin-left: 0;
  margin-right: 0;
}


h2,
h3 {
  text-align: center !important;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#selecteur-section {
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

#selecteur-section > a > button {
  width: 27%;
  margin: 1%;
  font-size: 18px !important;
  background-color: var(--blue3);
  color: white;
  border: none;
  padding: 1%;
}

#selecteur-section > a > button:hover {
  background-color: var(--blue3-hover);
}

#association-table,
table {
  width: 100%;
}

input,
textarea,
select,
.buttons2 {
  width: 100%;
  height: 100%;
  font-size: 18px !important;
  background-color: var(--blue3);
  color: white;
  border: none;
}

#associer-button,
.modif-res {
  font-size: 18px !important;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  padding: 1%;
  background-color: var(--green) !important;
  border: none !important;
}

#associer-button:hover,
.modif-res:hover {
  background-color: var(--green-hover) !important;
}

#td_liste_nageurs {
  width: 50% !important;
}

#td_groupe,
#td_annee {
  width: 25% !important;
}

.suppr-ligne {
  border: none !important;
  background-color: var(--red) !important;
}

.suppr-ligne:hover {
  background-color: var(--red-hover) !important;
}

.suppr-ligne[value="1"] {
  background-color: var(--red2) !important;
}

.suppr-ligne[value="1"]:hover {
  background-color: var(--red2-hover) !important;
}
