
#main-section {
    margin: 0;
}


h2 {
    text-align: center !important;
    margin-top: 0;
    padding-top: 0;
}


table {
    width: 70%;
}

#data-tab {
    width: 100%;
}


input, textarea, select {
    width: 100%;
    height: 100%;
}


.buttons2, #add-res {
    font-size: 18px !important;
    width: 50%;
    background-color: var(--green) !important;
    border: none !important;
}

#add-res {
    width: 20%;
    margin: 0 40%;
    padding: 1%;
}

#add-res:hover, .modif-res:hover {
    background-color: var(--green-hover) !important;
}

.modif-res {
    background-color: var(--green) !important;
}


.suppr-ligne {
    border: none !important;
    background-color: var(--red) !important;
}

.suppr-ligne[value="1"] {
    background-color: var(--red2) !important;
}

.suppr-ligne:hover {
    background-color: var(--red-hover) !important;
}

.suppr-ligne[value="1"]:hover {
    background-color: var(--red2-hover) !important;
}


td {
    padding: 5px !important;
}
