
#main-section {
    margin-left: 0;
    margin-right: 0;
}


h2, h3 {
    text-align: center !important;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#div-central {
    display: flex;
}

#left-box, #right-box {
    width: 47.5%;
}

#left-box {
    margin-left: 2.5%;
    padding-right: 2.5%;
}

#right-box {
    padding-left: 2.5%;
}

.h2-news {
    text-align: left !important;
}

#news-section2 {
    margin-top: 0 !important;
}

textarea, input {
    width: 100% !important;
}

.post_news, .edit-button, .suppr-button {
    font-size: 18px !important;
    border: none;
}

.post_news {
    width: 40%;
    padding: 2% !important;
    margin-left: 30%;
    margin-right: 30%;
    background-color: var(--green) !important;
}

.post_news:hover, .edit-button:hover {
    background-color: var(--green-hover) !important;
}

.modif-titre, .modif-date {
    width: 49% !important;
}

.modif-titre {
    margin-right: 1% !important;
}

.modif-date {
    margin-left: 1% !important;
}

.modif-news-section {
    display: flex;
}

.modif-news-section-first {
    width: 90%;
}

.modif-news-section-second {
    height: auto;
    width: 10%;
    padding-left: 2%;
}

.modif-news-section-second > button {
    width: 100%;
    height: 48% !important;
}

.edit-button {
    margin-bottom: 5% !important;
    background-color: var(--green);
}

.suppr-button {
    background-color: var(--red);
}

.suppr-button[value="1"] {
    background-color: var(--red2);
}

.suppr-button:hover {
    background-color: var(--red-hover);
}

.suppr-button[value="1"]:hover {
    background-color: var(--red2-hover);
}
