.button2,
#photo::-webkit-file-upload-button {
    font-size: 18px !important;
    background-color: var(--blue3);
    color: white;
    border: none;
}

.button2:hover,
#photo::-webkit-file-upload-button:hover {
    background-color: var(--blue3-hover);
}

#photo::-webkit-file-upload-button {
    margin-right: 3%;
}

h2, .center, h1 {
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
}

#photos-section {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

#photos-section > div {
    flex: 0 0 20%;
    box-sizing: border-box;
    padding: 2% 2% 0 2% !important;
    margin-bottom: 2%;
}

#photos-section > div > div {
    padding-bottom: 2% !important;
    width: 100% !important;
    height: 150px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#photos-section > div > div > img {
    background-color: black;
    max-width: 90%;
    max-height: 90%;
    display: block;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.album_name {
    padding-top: 1%;
    font-size: 20px !important;
    width: 100%;
    text-align: center;
}

.photo-button {
    margin-bottom: 5%;
    background-color: var(--red);
    border: none;
    width: 100%;
}

.photo-button:hover {
    background-color: var(--red-hover);
}

#link {
    margin: 0 !important;
    padding: 0 !important;
    color: var(--blue2);
    text-decoration: none;
}

#sentinel {
    width: 100%;
    height: 1px;
}
