
#main-section {
    margin-left: 0;
    margin-right: 0;
}


h2, h3 {
    text-align: center !important;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#selecteur-section {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#selecteur-section > a > button {
    width: 27%;
    margin: 1%;
    font-size: 18px !important;
    background-color: var(--blue3);
    color: white;
    border: none;
    padding: 1%;
}

#selecteur-section > a > button:hover {
    background-color: var(--blue3-hover);
}

table {
    width: 100% !important;
}

input, textarea, select, .buttons2 {
    width: 100%;
    height: 100%;
}

.buttons2 {
    width: 50%;
    font-size: 18px !important;
    background-color: var(--blue3);
    color: white;
    border: none;
}

td {
    padding: 5px !important;
}

.div-buttons > button {
    padding: 1%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#add-nageur, .modif-nageur {
    background-color: var(--green);
    border: none;
}

#add-nageur:hover, .modif-nageur:hover {
    background-color: var(--green-hover);
}

.td-id {
    width: 5% !important;
}

.td-buttons {
    width: 10% !important;
}

.suppr-ligne, .suppr-ligne[value="1"] {
    border: none !important;
    background-color: var(--red) !important;
}

.suppr-ligne:hover {
    background-color: var(--red-hover) !important;
}

.suppr-ligne[value="1"] {
    background-color: var(--red2) !important;
}

.suppr-ligne[value="1"]:hover {
    background-color: var(--red2-hover) !important;
}

.icon-nageur {
    width: 125px !important;
}

.upload_icon {
    width: 100px !important;
    font-size: 0px !important;
}

.upload_icon::-webkit-file-upload-button {
    height: auto !important;
    font-size: 12px !important;
    background-color: var(--blue3);
    width: 100px;
    border: none;
    color: white !important;
}

.upload_icon::-webkit-file-upload-button:hover {
    background-color: var(--blue3-hover);
}

.supprimer-icon {
    background-color: var(--red);
    font-size: 12px !important;
    border: none;
    width: 25px;
}

.supprimer-icon:hover {
    background-color: var(--red-hover);
}

.upload-suppr-div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
