#photo-piscine {
    width: 50%;
}

#photo-piscine > img {
    width: 100%;
}

.div3 {
    display: flex;
}

#photo-piscine > span, .link_photo {
    display: block;
    width: 100%;
}

.link_photo {
    text-align: center;
    font-size: 20px !important;
    font-style: italic;
}

.link {
    color: var(--blue2) !important;
    text-decoration: none !important;
}

.link:hover {
    text-decoration: none;
    color: var(--blue2-hover) !important;
}

#right2 {
    margin-left: 50px;
    width: 50%;
}

span {
    width: 100%;
    text-align: justify;
    display: block;
}

.div3 {
    display: flex;
    align-items: center; 
}

ul {
    list-style: square;
}

li {
    padding-top: 10px;
}

#div4 {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

#right2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

