.div4 {
  border-radius: 10px;
  background-color: var(--gray);
  padding: 25px !important;
  margin: 50px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  width: 900px !important;
  height: 300px !important;
  border: 15px solid var(--gray-bande);
  position: relative;
  overflow: hidden;
}

.div4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1;
}

.div4:hover::before {
  opacity: 1;
}

.div4:hover {
  border: 15px solid var(--gray-bande-dark);
}

.nos-nageurs, .resultats {
  background-position: top center, center;
  background-repeat: no-repeat, repeat;
  background-size: 100% auto, 100% auto;
  z-index: 2;
}

a {
  text-decoration: none !important;
}

.div3 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.div4 > h1 {
  margin: auto !important;
  padding-bottom: 0 !important;
}

.div4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#div4-section {
  display: flex;
  width: 100% !important;
}

.record-div-data {
  width: 100% !important;
}

/* Table styles */
.resultats-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Assure que toutes les colonnes aient une largeur fixe */
  border-radius: 0;
  border: 2px solid black;
}

.even>.td-femme{
  border-bottom: 1px solid rgb(200, 200, 200);
}

.odd>.td-femme{
  border-bottom: 1px solid rgb(190, 190, 190);
}

.td-femme, .cat_name{
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/* Bordures */
.resultats-table th, .resultats-table td {
  border-left: 2px solid black !important;
  border-right: 2px solid black !important;
}

.resultats-table th, .resultats-table td {
  padding-left: 2px !important;
  padding-right: 2px !important;
  text-align: center;
  width: auto;
}

.resultats-table, .center {
  margin-top: 10px;
  text-align: center !important;
  justify-content: center;
}

/* Catégorie et largeur-colonne2 */
.largeur-colonne2, .cat_name {
  width: 10% !important;
  background-color: rgb(238, 221, 40) !important;
  font-weight: bold;
  font-size: 18px !important
}

.entete {
  background-color: var(--blue2);
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  font-size: 18px !important;
}

/* Style pour les lignes paires et impaires */
.odd {
  background-color: rgb(213, 213, 213) !important;
}

.even {
  background-color: rgb(219, 219, 219) !important;
}

td, td > div {
  font-size: 15px !important;
  color: black !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

/* Style pour le div de sélection des boutons de nage */
#boutons-nages {
  margin: 0;
  padding: 0;
}

#boutons-nages > div {
  width: 100%;
  display: flex;
}

#boutons-nages > div > div {
  width: 25%;
}

#boutons-nages > div > div > button {
  border: 1px solid #0000002b;
  width: 100%;
}

.cat_name {
  font-size: 15px !important;
}

th {
  color: black !important;
  font-size: 15px !important;
  overflow: hidden !important;
}

.age-specification {
  font-size: 14px !important;
  font-style: italic !important;
}

.redirection_profil {
  display: inline-block !important;
  overflow: hidden !important;
  white-space: nowrap !important; /* Empêche les retours à la ligne */
  width: 100% !important;
  min-width: 0;
}

h2 {
  font-size: 50px !important;
  text-align: center;
  width: 100%;
  text-shadow: 
    -1px -1px 0 rgba(0, 0, 0, 1),  
    1px -1px 0 rgba(0, 0, 0, 1),  
    -1px  1px 0 rgba(0, 0, 0, 1),  
    1px  1px 0 rgba(0, 0, 0, 1),  
    2px  2px 4px rgba(0, 0, 0, 0.7);
}

.femme{
  color: rgb(212, 38, 189) !important;
}

.femme:hover{
  color: rgb(181, 34, 161) !important;
}

.even>td, .odd>td{
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

#style_de_nage{
  padding: 2% !important;
  width: 25%;
  text-align: center;
  margin-left: 37.5%;
  margin-bottom: 2%;
}