#liste-albums > div > div {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

#liste-albums > div > div > div {
    height: auto !important;
    flex: 0 0 30% !important;
    box-sizing: border-box !important;
    padding: 0 !important;
    margin-bottom: 2% !important;
}

#liste-albums > div > div > div {
    position: relative !important; 
} 

#liste-albums > div > div > div > img {
    margin: 5% auto 0 auto !important;
    background-color: black;
    max-width: 90%; 
    max-height: 128px; 
    display: block; 
    object-fit: contain; 
}

#photos > div > div {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

#photos > div > div > div {
    flex: 0 0 20%;
    box-sizing: border-box;
    padding: 2% 2% 0 2% !important;
    margin-bottom: 2%;
}

#photos > div > div > div {
    padding-bottom: 2% !important;
    width: 20% !important;
    height: 200px !important;
    justify-content: center;
    justify-content: center; 
    align-items: center; 
    position: relative; 
} 

#photos > div > div > div > img {
    background-color: black;
    max-width: 90%; 
    max-height: 90%; 
    display: block; 
    object-fit: contain; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
}

.album_name {
    padding: 1% 2% 0 2% !important;
    font-size: 16px !important;
    width: 100%;
    max-width: 100%; 
    max-height: 100%; 
    text-align: center;
}

h2 {
    text-align: center;
}

.fullscreen > img {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
    z-index: 1000 !important; 
    cursor: pointer !important;
    background-color: black !important;
    max-width: 100% !important; 
    max-height: 100% !important; 
}

#fullscreenCloseContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px; 
    height: 60px; 
    background-color: var(--red);
    display: none; 
    z-index: 1100; 
    cursor: pointer;
    text-align: center; 
    line-height: 60px; 
    border-color: 5px solid black;
}

#fullscreenCloseContainer:hover {
    background-color: var(--red-hover);
} 

#fullscreenDownloadContainer {
    position: fixed;
    top: 20px;
    right: 100px;
    padding: 0 1% 0 1%;
    height: 60px; 
    background-color: var(--blue3);
    display: none; 
    z-index: 1100; 
    cursor: pointer;
    text-align: center; 
    line-height: 60px; 
    border-color: 5px solid black;
}

#fullscreenDownloadContainer:hover {
    background-color: var(--blue3-hover);
} 

#fullscreenClose {
    font-size: 32px !important; 
    color: #ffffff !important;
}

.center {
    text-align: center;
} 

.album-div:hover, .image_fullscreen:hover {
    cursor: pointer;
    background-color: rgba(100, 102, 110, 0.753);
} 

.fullscreen:hover {
    background-color: black;
}

#load-more-button{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: var(--blue3);
    padding: 2%;
    margin-top: 2%;
    border: none;
}

#load-more-button:hover{
    background-color: var(--blue3-hover);
}