#th-competition {
  width: 30%;
}

#th-date {
  width: 20%;
}

#th-lieu {
  width: 20%;
}

#th-nage {
  width: 30%;
}

.small-font {
  font-size: 10px;
}

table {
  width: 100%;
  table-layout: fixed; 
}

#planning-section {
  display: flex;
}

#planning {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

h1, h2 {
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

.no-styles {
  all: unset;
}

td > div {
  font-size: 20px !important;
}

.red-font > td > div {
  color: rgb(252, 94, 94) !important;
  padding-top: 2%;
  padding-bottom: 2%;
}

.red-font > td {
  color: rgb(252, 94, 94) !important;
  padding-top: 2%;
  padding-bottom: 2%;
}

.blue-font > td > div {
  color: rgb(155, 198, 255) !important;
}

.blue-font > td {
  color: rgb(155, 198, 255) !important;
}

#Alerte {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none;
}

.alertediv {
  position: relative; 
}

.close-button {
  position: absolute; 
  top: 10px; 
  right: 30px; 
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.alertediv {
  margin: 7% 15% 25% 15% !important;
  width: 70%;
  height: 70%;
  max-height: 70%;
  background-color: rgba(80, 84, 92, 1) !important; 
}

.alertediv > h1 {
  padding-bottom: 25px;
  height: 20%;
}

#AlerteMessage {
  
  flex-direction: column;
  justify-content: center; 
  height: auto;
  max-height: 80%; 
  overflow: auto; 
}

#AlerteMessage > p {
  text-align: center; 
}

.info-competition {
  font-size: 14px !important;
}

.center {
  text-align: center;
}
