h2 {
  padding-top: 30px;
  padding-bottom: 10px;
  width: 100%;
}

#fete-du-sport {
  display: flex;
}

@media screen and (max-width: 1000px) {
  #fete-du-sport {
    display: block !important;
  }

  #photo {
    margin-left: 15%;
    margin-right: 15%;
    width: 70% !important;
    height: auto !important;
    margin-bottom: 3% !important;
  }
}

#fete-du-sport > img {
  height: 400px;
  padding-left: 15px;
  padding-right: 35px;
}

#fete-du-sport > div {
  margin-top: auto;
  margin-bottom: auto;
}

p {
  text-align: justify;
}

#download-dossier {
  background-color: var(--blue2);
  border: 0;
  border-radius: 10px;
  padding: 15px;
}

#download-dossier:hover {
  background-color: var(--blue2-hover);
}

a {
  text-decoration: none !important;
  color: var(--blue2) !important;
}

a:hover {
  text-decoration: none;
  color: var(--blue2-hover) !important;
}

#fete-du-sport {
  display: flex;
  align-items: center;
}

.event-section {
  margin-left: 20px; 
}

p {
  padding-bottom: 5px;
}

li {
  padding-top: 5px;
}

li > ul {
  padding-left: 0 !important;
}

li > ul > li {
  margin-left: 35px !important;
}
