#loginForm {
    background-color: var(--gray);
    border-radius: 10px;
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

#loginForm > div {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 15px;
    text-align: center;
}

.toast-echec {
    min-width: 250px;
    background-color: #f44336; 
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    bottom: 30px; 
    right: 30px; 
}

.toast-echec.show {
    display: block;
    animation: fadeOut 5s ease-in;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
