.news-preview {
    background-color: var(--gray);
    border-radius: 10px; 
}

.news-preview > div {
    display: flex;
    height: auto;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.image-preview {
    height: 100%;
    width: 20%;
}   

.image-preview > img {
    width: 100%;
    padding: 5%;
    margin: auto !important;
}

.preview {
    width: 80%;  
    margin-left: 15px;
}

.preview > .title-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.preview > .title-section > .time-elapsed {
    font-style: italic;
    margin-right: 10px;
    text-align: right;
    margin-left: auto;
}

.preview > .title-section > .title {
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: left;
}

.link, .link2 {
    color: var(--blue2);
    text-decoration: none;
}

.link:hover, .link2:hover {
    color: var(--blue2-hover);
    text-decoration: none;
}

.link {
    font-size: 30px !important;
}

.link2 {
    font-size: 15px !important;
}

#more-news {
    border-radius: 10px;
    width: 100%;
    height: 50px;
    border: 0;
    background-color: var(--blue2);
    color: white;
}

#more-news:hover {
    background-color: var(--blue2-hover);
}

#news-section {
    width: 100%;
    height: 100%;
}

#other-news {
    margin-bottom: 0 !important;
}

#news-section > div {
    margin-top: 25px;
    margin-bottom: 25px;
}

.news-section4 > div {
    background-color: var(--gray);
    padding: 20px;
    border-radius: 10px;
}

.top-section {
    display: flex;
    margin-bottom: 25px;
}

.top-section > img {
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.top-section > div {
    padding-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

#info-section {
    margin-bottom: 25px;
}

#right-section {
    width: 100%;
    height: auto;
    margin-bottom: auto;
}

#news-section2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#info-section {
    display: flex;
    align-items: center;
}

#info-section > img {
    padding: 5px;
    height: 150px;
    width: 150px;
    margin-right: 15px;
}

#text-section {
    padding: 30px;
}

#other-news {
    width: auto;
}

#other-news > button {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: var(--blue3);
}

#other-news > button:hover {
    background-color: var(--blue3-hover);
}

.title2 {
    font-size: 90%;
    font-weight: bold;
}

#news-section-title {
    border-radius: 10px;
    padding: 15px;
    background-color: var(--gray);
    font-weight: bold;
    text-align: center;
    margin: 0 !important;
}

.text-preview {
    padding-left: 0px;
}

.text-preview > div {
    text-align: justify;
}

#news-section3 {
    display: flex;
}

#news-section3 > div {
    width: 50%;
}

.left {
    margin-right: 10px; 
}

.right {
    margin-left: 10px; 
}

.h2-news {
    margin-bottom: 10px !important;
    padding: 0 !important;
}

a {
    color: var(--blue2) !important;
    text-decoration: none !important;
}

a:hover {
    color: var(--blue2-hover) !important;
    text-decoration: none !important;
}

#text-section {
    text-align: justify;
}

.carousel-image {
    height: 400px !important;
    max-width: 100%;
    margin: auto;
}

.carousel-item {
    background-color: black;
}

#carouselExampleIndicators {
    width: 90%;
    margin: auto;
}
