.photo-nageur {
  height: 150px;
  width: 150px;
  transition: filter 0.3s ease; 
}

.liste-nageurs {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.liste-nageurs > div {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}

.nom-prenom {
  text-align: center;
  color: var(--blue2) !important; 
  font-weight: bold;
  position: relative; 
  z-index: 2; 
}

.groupe > h2 {
  margin-top: 15px;
  text-align: center;
}

.case-nageur {
  background-color: white;
  position: relative; 
  overflow: hidden; 
  transition: background-color 0.3s ease; 
}

.case-nageur > a > div {
  border: 5px black solid; 
}

.case-nageur.birthday > a > div {
   
}

p {
  padding-top: 30px;
}

a {
  text-decoration: none !important;
}


.photo-container::after {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.case-nageur:hover .photo-container::after {
  opacity: 1; 
}


.case-nageur:hover .nom-prenom::after {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); 
  z-index: 1; 
}

.case-nageur:hover .nom-prenom {
  color: white; 
}

.carousel-image {
  height: 500px !important;
  max-width: 100%;
  margin: auto;
}

.carousel-item {
  background-color: black;
}

#carouselExampleIndicators {
  width: 90%;
  margin: auto;
  margin-bottom: 3% !important;
}

.photo-container {
  position: relative; 
}

.birthday-cake {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  height: auto;
  z-index: 1;
  transition: filter 0.3s ease; 
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.8));
}

.case-nageur:hover .birthday-cake {
  filter: brightness(0.9) drop-shadow(0 8px 15px rgba(0, 0, 0, 1.7));
}

.nom-prenom {
  border-top: none !important; 
  position: relative; 
  z-index: 2; 
}

.center {
  text-align: center !important;
}

#form {
  width: 100%;
}

#annee-selector {
  padding: 1.5%;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  text-align: center;
}
