#carte_nageur {
  display: flex;
  background-color: var(--gray);
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 60px;
}

img {
  border-radius: 10px;
}

#info-section {
  flex: 1;
  width: 60%;
  padding-left: 25px;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

#photo-section {
  display: grid;
  place-items: center;
  width: 30%;
  margin: 25px;
}

#photo-section > img {
  width: 100%;
}

#performance-section, #record-section {
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 8px; 
  border-radius: 10px !important;
}

#boutons-nages {
  margin: 0;
  padding: 0;
}

#boutons-nages > div {
  width: 100%;
  display: flex;
}

#boutons-nages > div > div {
  width: 25%;
}

#boutons-nages > div > div > button {
  border: 1px solid #0000002b;
  width: 100%;
}

.selector[value="selected"], #boutons-nages > div > div > .selector[value=""]:hover {
  background-color: var(--blue2-hover);
}

#boutons-nages > div > div > .selector[value=""] {
  background-color: var(--blue2);
}

th > div > div > button {
  font-weight: bold;
}

#nage-selector {
  margin-top: 30px;
  margin-bottom: 30px;
}

#description-profil {
  margin-left: 10px;
}

#h2-prenom-nom {
  margin-bottom: 25px !important;
  padding: 0px !important;
}

td {
  font-size: 18px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

tr {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

td {
  background-color: rgb(151, 151, 151) !important;
}

#video-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
}

#video-player {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#video-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
}

#video-player {
    size: 50%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#selecteur-perfs{
  margin-top: 10px !important;
    width: 80% !important;
    border: none !important;
    border-radius: 0 !important;
}

#selecteur-perfs>tbody>tr>td{
  padding: 0 !important;
}

#selecteur-perfs>tbody>tr>td>select,#selecteur-perfs>tbody>tr>td>button{
  width: 100% !important;
  height: 100% !important;
  border: 0 !important; 
  outline: none;
}

#selecteur-perfs>tbody>tr>td>button{
  background-color: var(--blue2);
}

#selecteur-perfs>tbody>tr>td>button:hover{
  background-color: var(--blue2-hover);
}

.table-container {
  overflow-x: auto; /* Permet le défilement horizontal si le tableau est trop large */
}

.perf {
  width: 100% !important;           /* Assure que le tableau occupe 100% de la largeur de son conteneur */
  border-collapse: collapse;        /* Fusionne les bordures pour un rendu plus propre */
  table-layout: fixed;               /* Empêche le tableau de s'étendre au-delà de sa largeur */
  border-radius: 0 !important;
  margin-bottom: 5px !important;
}

.perf > tbody > tr > td {
  padding-left: 10px !important;
  padding-right: 10px !important;
  background-color: rgb(57, 57, 57) !important;
  overflow: hidden;                 /* Cache le débordement de texte */
  text-overflow: ellipsis;         /* Affiche des points de suspension si le texte déborde */
  white-space: nowrap;              /* Empêche le retour à la ligne */
}

.date-compet, .categorie-compet {
  width: 20%;
}

.video-compet {
  height: 25px !important;
  width: 9%;
}

.type-compet {
  width: 31%;
}

.temps-compet {
  width: 20%;
  cursor: pointer; /* Change le curseur pour indiquer que c'est interactif */
}

.temps-compet:hover .temps{
  font-weight: bold;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5)); /* Ombre portée */
}

.logo-ytb {
  height: 25px !important;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1)); /* Ombre portée */
}

.logo_ok {
  transition: filter 0.3s ease; /* Ajoute une transition douce */
}

.logo_ok:hover {
  filter: brightness(0.7); /* Assombrit l'image au survol */
}

.center{
  text-align: center;
}

.info-box {
  font-size: 14px !important;
  color: black !important;
  position: absolute; /* Positionner par rapport au parent */
  transform: translateX(15%); /* Ajuster le centrage */
  background-color: rgb(234, 234, 234); /* Fond sombre */
  color: white; /* Couleur du texte */
  padding: 5px; /* Espacement */
  border-radius: 5px; /* Coins arrondis */
  z-index: 100; /* S'assurer qu'elle est au-dessus des autres éléments */
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.6)); /* Ombre portée */
  text-align: left !important;
}

.temps-record{
  font-size: 15px !important;
  padding-bottom: 0 !important;
}

.annee-record{
  padding-top: 0 !important;
  font-size: 12px !important;
}

#table-des-records th:first-child, 
#table-des-records td:first-child {
    width: 16%;
}

#table-des-records th:not(:first-child), 
#table-des-records td:not(:first-child) {
    width: 14%;
}

#table-des-records th, 
#table-des-records td:first-child {
  font-weight: bold !important;
  color: WHITE !important;
    background-color: var(--blue2) !important;
}

#table-des-records th{
  border-bottom: 1px solid var(--border-color);
  font-size: 18px !important;
}

#table-des-records>tbody>tr>td{
  font-size: 15px !important;
  background-color: #00000000 !important;
}

#table-des-records>tbody>tr>td>div{
  color: black !important;
}

#table-des-records>tbody>tr:nth-child(even) {
  background-color: rgb(210, 210, 210) !important;
}

#table-des-records>tbody>tr:nth-child(odd) {
  background-color: rgb(193, 193, 193) !important;
}

#table-des-records tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.title{
  text-align: center;
  width: 100%;
  margin-bottom: 30px !important;
  padding: 0 !important;
}

/* Styles pour la cellule avec la classe "impossible" */
td.impossible {
  position: relative; /* Positionner le td pour pouvoir utiliser le pseudo-élément */
  overflow: hidden; /* Cacher le débordement du pseudo-élément */
}

/* Créer la diagonale fine */
td.impossible::before {
  content: ""; /* Nécessaire pour afficher le pseudo-élément */
  position: absolute;
  bottom: 0; /* Commence en haut */
  right: 0; /* Commence à gauche */
  width: 100%; /* Prend toute la largeur du td */
  height: 100%; /* Prend toute la hauteur du td */
  background: linear-gradient(to top left, transparent 49.5%, var(--border-color2) 49.5%, var(--border-color2) 50.5%, transparent 50.5%); /* Crée une ligne diagonale fine */
  z-index: 1; /* Positionne la diagonale en arrière-plan */
}

/* S'assurer que le texte dans la cellule est visible */
td.impossible {
  z-index: 2; /* S'assurer que le texte est au-dessus du pseudo-élément */
}

