#div-selection-annee > p {
  margin-right: 8px;
}

ul {
  list-style-type: square !important;
  width: 100%;
}

li {
  list-style-type: square !important;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 30px;
}

li > a {
  text-decoration: none;
}

p {
  padding-top: 30px;
  padding-bottom: 15px;
}

a {
  color: var(--blue2) !important; 
}

a:hover {
  color: var(--blue2-hover) !important; 
}

table{
  width: 100%;
  margin: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.tab-res>tbody>tr{
  margin-bottom: 5px;
}

.tab-res>tbody>tr>th{
  padding: 1.5%;
  font-size: 30px !important;
}

.res-td>tbody>tr>td{
  padding: 0 !important;
}

@media screen and (max-width: 1000px) {
  .res-td>tbody>tr>td{
    padding: 0 !important;
    font-size: 18px !important;
  }
  
}


.dl{
  text-decoration: none;
  width: 100%;
  height: 100%;
}

h1{
  margin-bottom: 2% !important;
  margin-top: 2% !important;
}

.no-res{
  color: rgb(183, 183, 183)
}