h2 {
    text-align: center !important;
    width: 100% !important;
    padding-top: 15px !important;
    padding-bottom: 0px !important;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-track-container {
    overflow: hidden;
    align-items: center;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel-slide {
    min-width: 20%; 
    box-sizing: border-box;
    padding: 10px;
}

.carousel-slide img {
    width: 100%;
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.merci {
    width: 100%;
    padding-top: 35px !important;
    text-align: center;
}

.div-explication, .div-contact {
    padding-bottom: 35px !important;
}

.div-partenaire > div {
    margin-top: 45px;
}

.div-partenaire {
    display: flex;
}

#image-sponsor1 {
    width: 100%;
    margin: auto;
}

.div01 {
    width: 60%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

p {
    text-align: justify;
}

.div02 {
    width: 30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.align {
    text-align: center !important;
    width: 100%;
}

div {
    text-align: center; 
}

#contact-button {
    background-color: var(--blue2);
    border: 0;
    border-radius: 10px;
    padding: 15px;
    display: inline-block; 
}

#contact-button:hover {
    background-color: var(--blue2-hover);
}

#button-div {
    margin-top: 20px; 
}

#image-sponsor1 {
    width: 100%;
}

.image-hover {
    transition: filter 0.3s; 
}

.image-hover:hover {
    filter: brightness(0.7); 
}
