@font-face {
  font-family: Lato;
  src: url("./Lato-Regular.ttf");
}

* {
  font-family: Lato, sans-serif;
}

.title2 > a {
  font-size: 24px !important;
}

.italic {
  font-style: italic !important;
  font-size: 20px !important;
}

.footer-text {
  font-size: 15px !important;
}

div, p, li, ul {
  font-size: 24px !important;
}

th, tr {
  font-size: 24px !important;
}

td {
  font-size: 22px !important;
}

h1 {
  font-size: 70px !important;
  font-weight: bold !important;
}

h2 {
  font-size: 50px !important;
  font-weight: bold !important;
}

h3 {
  font-size: 40px !important;
  font-weight: bold !important;
  padding-bottom: 10px;
}

.preview > .title-section > .title {
  font-size: 110%;
}

#header-menu > div {
  font-size: 90%;
}

.preview > .text-preview {
  font-size: 80%;
}

#bande > div > button {
  font-size: 80%;
}

.time-elapsed {
  font-size: 65%;
}

#news-section-title {
  font-size: 30px !important;
}

.time-elapsed2 {
  font-size: 15px !important;
}

#login-button {
  font-size: 25px !important;
}

#AlerteMessage > p {
  font-size: 30px !important;
}

.close-button {
  font-size: 40px !important;
}
