#footer {
    background-color: #333;
}

#footer > div {
    padding: 25px;
    display: flex;
    align-items: center !important;
}

#footer > div > div {
    color: white;
}

.icon-footer {
    height: 30px !important;
}

#center {
    margin-left: auto;
    margin-right: auto;
}

#footer {
    display: flex;
    justify-content: center; 
}

#footer > div {
    width: 100%;
}

#left,
#right {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 50%;
}

#left > span {
    margin-top: 10px;
}

footer > div > div > span {
    font-size: 10px !important;
    text-align: center !important;
}

#left > a, .facebook {
    width: auto !important;
    margin-bottom: 2% !important;
}

.facebook > img {
    height: 35px !important;
}
