:root {
  --writing-color: rgb(233, 233, 233);
  --bold: rgb(255, 255, 255);
  --border-color: #7c7c7c;
  --border-color2: #a3a3a3;
  --gray: rgba(80, 84, 92, 0.70) !important;
  --gray-bande: #333;
  --gray-bande-dark: rgb(43, 43, 43) !important;
  --blue1: #007bff;
  --blue2: rgb(77, 124, 200);
  --blue2-hover: rgb(46, 107, 204);
  --blue3: rgb(46, 107, 204);
  --blue3-hover: rgb(21, 76, 165);
  --blue4: #2b4662;
  --blue5: #1d2e41;
  --blue6: #3a5e84;
  --hover: rgba(0, 0, 0, 0.2);
  --red: #f14b4b;
  --red-hover: #db2c2c;
  --red2: rgb(155, 35, 35);
  --red2-hover: rgb(122, 23, 23);
  --green: #68be4b;
  --green-hover: #559d3d;
  --femme: #995d7b;
  --homme: #5d5f99;
}

body {
  
  background-position: top center, center;
  background-repeat: no-repeat, repeat;
  background-size: auto, auto;
  background-size: 100% auto, 100% auto;
}

p,
td,
th,
h1,
h2,
h3,
h4,
div,
button {
  color: var(--writing-color) !important;
}

body,
html {
  margin: 0;
  padding: 0;
}

#main-section {
  border-radius: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 1500px) {
  #main-section {
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 3%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1000px) {
  #main-section {
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-top: 5%;
    padding-left: 10px;
    padding-right: 10px;
  }
}


#main-section2 {
  padding-top: 5%;
  flex: 1;
  
}

#main-section2 {
  padding-bottom: 18px;
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

h2 {
  padding-top: 30px;
  padding-bottom: 30px !important;
}

#main-section {
  height: auto;
}

.bold {
  font-weight: bold;
  color: var(--bold) !important;
}

center {
  text-align: center;
}

.green {
  background-color: #79e057;
}

.green:hover {
  background-color: #54ce2b;
}

.red {
  background-color: #e05757;
}

.red:hover {
  background-color: #c12c2c;
}

table {
  margin-bottom: 30px;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  padding: 8px;
  
  border-collapse: collapse;
  border-collapse: separate;
  
  border-spacing: 0;
  
  border-radius: 10px;
  
  overflow: hidden;
  
}

td:first-child {
  border-left: none !important;
}

td:last-child {
  border-right: none !important;
}

th:first-child {
  border-left: none !important;
}

th:last-child {
  border-right: none !important;
}

th,
td {
  border-left: 1px solid var(--border-color) !important;
  
  border-right: 1px solid var(--border-color) !important;
  
}

.entete-nage {
  background-color: var(--blue5) !important;
}

th {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--blue4);

  text-align: center;
  
  font-weight: bold;
  
}

table td {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--gray);
}

.div3 {
  border-radius: 10px;
  width: 100%;
  background-color: var(--gray);
  padding: 25px !important;
  margin-bottom: 50px;
}

.underline {
  text-decoration: underline;
}

