#img-logo-div {
  padding: 1%;
  height: 100%;
}

#img-logo {
  height: 100%;
}

#header,
#header-buttons {
  display: flex;
}

#header {
  height: 150px;
  width: 100%;
  padding-left: 12%;
  padding-right: 12%;
  background-color: var(--blue4);
  align-items: center;
}

#header-right-div {
  width: 100% !important;
  height: 100%;
}

#header-buttons {
  width: 100%;
  height: 100%;
}

#header-buttons > a > button {
  width: 100% !important;
  align-items: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 25px !important;
  text-align: center;
  height: 100%;
  transition: background-color 0.2s, opacity 0.2s;
}

#header-buttons > a > button:hover {
  background-color: rgba(0, 0, 0, 0.164);
}

@media screen and (max-width: 1500px) {
  #header {
    padding-left: 7%;
    padding-right: 7%;
    height: 120px;
  }

  #header-buttons>a>button {
    width: 100%;
    font-size: 22px !important;
  }
}

#bande {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--gray-bande);
  padding: 5px;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 3; 
}

#bande > div {
  margin-right: 1% !important;
}

#bande > div > a > button {
  font-size: 18px !important;
  background-color: var(--blue1);
  color: #fff;
  padding: 2px 4px;
  border: none;
  cursor: pointer;
}

a {
  width: 100%;
}

.bande2 {
  background-color: var(--blue4);
  color: var(--blue4) !important;
  border: none;
}

