#toast-section {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 15px !important;
  width: 200px; 
  padding: 10px; 
}

.toast-success {
  min-width: 100%;
  background-color: #68be4b;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 10px;
  font-size: 15px !important;
}

.toast-echec {
  min-width: 100%;
  background-color: #c63636;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 10px;
  font-size: 15px !important;
}

