
.admin-sections {
  background-position: top center, center;
  background-repeat: no-repeat, repeat;
  background-size: auto, auto;
  background-size: 100% auto, 100% auto;
  z-index: 2;
  
}

a {
  text-decoration: none !important;
}

.div3 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.center {
  text-align: center;
}

.stats-buttons {
  width: 40.72%;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: var(--blue3);
  border: none;
}

.stats-buttons:hover {
  background-color: var(--blue3-hover);
}

.svg-container {
  width: 100%;
}


.switch {
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 100% !important;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.onoffswitch-label {
  color: black;
  position: relative;
  display: block;
  padding: 16px;
  text-align: center;
}

.onoffswitch-label .onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-label .onoffswitch-switch {
  display: block;
  width: 50%;
  float: left;
  background: #2196F3;
  color: #FFFFFF;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}

.onoffswitch-label .onoffswitch-switch-label {
  display: none;
}

input:checked + .slider .onoffswitch-inner {
  margin-left: 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

#gestion_du_site {
  display: flex;
  flex-wrap: wrap;
  width: 100 !important; 
  justify-content: center;
}

.div_redirection {
  border: 5px solid rgb(45, 45, 45);
  margin: 1.5%;
  width: 200px;
  aspect-ratio: 1 / 1;
  transition: filter 0.3s ease; 
}

.div_redirection:hover {
  filter: brightness(0.8); 
}

.div_redirection > div {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  text-align: center;
}

.div_redirection > div > h2 {
  font-size: clamp(1.4rem, 6vw, 1.7rem) !important; 
  margin: 0;
  width: 100%;
  text-shadow: 
    -1px -1px 0 rgba(0, 0, 0, 1),  
     1px -1px 0 rgba(0, 0, 0, 1),  
    -1px  1px 0 rgba(0, 0, 0, 1),  
     1px  1px 0 rgba(0, 0, 0, 1),  
     2px  2px 4px rgba(0, 0, 0, 0.7);
}
