.center {
    text-align: center;
}

.stats-buttons {
    width: 40.72%;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: var(--blue3);
    border: none;
}

.stats-buttons:hover {
    background-color: var(--blue3-hover);
}

.svg-container {
    width: 100%;
}


.switch {
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 100% !important;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}


.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.onoffswitch-label {
    color: black;
    position: relative;
    display: block;
    padding: 16px;
    text-align: center;
}

.onoffswitch-label .onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    -moz-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-label .onoffswitch-switch {
    display: block;
    width: 50%;
    float: left;
    background: #2196F3;
    color: #FFFFFF;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}

.onoffswitch-label .onoffswitch-switch-label {
    display: none;
}

input:checked + .slider .onoffswitch-inner {
    margin-left: 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

#selecteur_de_page {
    width: 100%;
    padding: 1%;
    text-align: center;
    margin-bottom: 1%;
    border: none;
}

#section_liste {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_liste > div {
    width: 45%;
    margin-left: 1%;
    margin-right: 1%;
}

.table-overflow {
    max-height: 350px !important;
    overflow-y: auto !important;
}


.table-overflow::-webkit-scrollbar {
    width: 15px;
    
}

.table-overflow::-webkit-scrollbar-track {
    background: #f1f1f1;
    
}

.table-overflow::-webkit-scrollbar-thumb {
    background-color: #888;
    
}

.table-overflow::-webkit-scrollbar-thumb:hover {
    background: #555;
    
}

#section_liste > div > div > table {
    width: 100%;
}

tr,
td,
th {
    font-size: 15px !important;
}

table {
    margin: 0;
    border-radius: 0 !important;
}

.miniature {
    height: 35px;
}

@media screen and (max-width: 1000px) {
    #section_liste {
        width: 100%;
        display: block !important;
    }

    #section_liste > div {
        width: 100%;
        margin-bottom: 4%;
    }

    tr,
    td,
    th {
        font-size: 23px !important;
    }
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

#section_exterieur {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_exterieur > div {
    width: 45%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
}

.img_section_exterieur {
    width: 55%;
    margin-bottom: 5% !important;
}

.stats_exterieur_table {
    width: 85% !important;
}

.center_exterieur {
    text-align: center;
}

.center_exterieur .img_section_exterieur {
    margin: 0 auto;
    margin-bottom: 2%;
}

.center_exterieur .stats_exterieur_table {
    margin: 0 auto;
}

.stats_exterieur_table > tbody > tr > th {
    width: 50%;
}
